@using Fase.Web.Models
@using Fase.Web.Extensions
@using Piranha
@inject IApi Api
@{
    var sitemap = WebApp.Site.Sitemap.Where(item => !item.IsHidden);
}

<nav class="navigation" role="navigation" data-navigation>
    <button class="navigation__toggle" data-navigation__toggle>Menu</button>
    <ul class="navigation__menu" role="menu">
        @foreach (var item in sitemap)
        {
            <li class="navigation__item @((item.Id == WebApp.PageId || WebApp.Url.StartsWith(item.Permalink)).ToString("navigation__item--active")) @((item.Items.Count > 0).ToString("navigation__item--has-children"))" role="menuitem">
                <a href="@item.Permalink" class="navigation__link">@item.MenuTitle</a>
                @if (item.Items.Count > 0)
                {
                    <ul class="navigation__sub-menu" role="menu">
                        <li class="navigation__sub-item hidden-small" role="menuitem">
                            <a href="@item.Permalink" class="navigation__sub-link">@item.MenuTitle</a>
                        </li>
                        @foreach (var subItem in item.Items)
                        {
                            <li class="navigation__sub-item" role="menuitem">
                                <a href="@subItem.Permalink" class="navigation__sub-link">@subItem.MenuTitle</a>
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
</nav>