@using Fase.Web.Models
@using Geta.EmailNotification.AspNetCore
@model Fase.Web.Models.FormModels.EmailForm
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Subject</title>
</head>
<body>
    <dl>
        <dt>Namn:</dt>
         <dd>@Model.Name</dd>

        @if (!string.IsNullOrWhiteSpace(Model.Company))
        {
            <dt>Bar/krog:</dt>
            <dd>@Model.Company</dd>
        }

        <dt>E-post:</dt>
        <dd>@Model.Email</dd>

        <dt>Telefon:</dt>
        <dd>@Model.Phone</dd>

        @if (!string.IsNullOrWhiteSpace(Model.Message))
        {
            <dt>Meddelande:</dt>
            <dd>@Model.Message</dd>
        }
    </dl>
</body>
</html>