@using Fase.Web.Models
@model Geta.EmailNotification.EmailNotificationRequest
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
@{
    var formModel = ViewData["Model"] as ContactFormModel;
}
<strong>@formModel.Heading</strong><br /><br />

Namn: @formModel.Name<br />

@if (!string.IsNullOrWhiteSpace(formModel.Company))
{
    <text>Bar/krog:</text> @formModel.Company<br/>
}

E-post: iformModel.Email<br />
Telefon: @formModel.Phone<br />

@if (!string.IsNullOrWhiteSpace(formModel.Message))
{
    <br /><text>Meddelande:</text><br />
    @formModel.Message
}
</body>
</html>