@model Fase.Web.Models.ViewModels.EventsListingView
@{
    ViewBag.Title = Model.Page.Title;
    ViewBag.MainCssClass = "main--no-margin";
}

@section Hero
    {
    @Html.DisplayFor(m => m.Page.Hero)
}

<h2 class="text-block__heading partners-block__heading">@Model.Page.Listing.UpcomingEventsHeading</h2>

<ol class="events__list">
    @foreach (var eventPage in Model.UpcomingEvents)
    {
        @Html.DisplayFor(m => eventPage)
    }
</ol>

<h2 class="text-block__heading partners-block__heading partners-block__heading--discrete">@Model.Page.Listing.EarlierEventsHeading</h2>

<ol class="events__list">
    @foreach (var eventPage in Model.EarlierEvents)
    {
        @Html.DisplayFor(m => eventPage)
    }
</ol>

@Html.DisplayFor(m => m.Page.Blocks)