@model Fase.Web.Models.ArtistListingPage
@inject Piranha.IApi Api
@{
    ViewBag.Title = Model.Title;
}

@Html.DisplayFor(m => m.Hero)

<partial name="~/Views/Shared/Partial/_Breadcrumbs.cshtml" />

<div class="article">
    @if (!string.IsNullOrEmpty(Model.PageHeading?.Value))
    {
        <header class="article__header">
            <h1 class="page__heading article__heading">@Model.PageHeading</h1>
        </header>
    }

    <article class="text-block">
        <div class="text-block__content text-block__body">
            <ul class="profile__list profile--full animate" data-animate>
                @foreach (var artist in Model.Artists)
                {
                    <li class="profile__item">
                        <div class="profile__image-wrapper">
                            <img class="profile__image" src="@Url.Content(artist.ProfileImage.Resize(Api, 960, 960))" alt="@artist.Fullname profilbild">
                        </div>
                        <div class="profile__description">
                            <h2 class="profile__name profile__name--large">@artist.Fullname</h2>
                            @Html.Raw(artist.Presentation)
                        </div>
                    </li>
                }
            </ul>
        </div>
    </article>

    <footer class="article__footer animate" data-animate>
        @if (Model.LinkButtons.Count > 0)
        {
            <nav class="button-group">
                @foreach (var button in Model.LinkButtons)
                {
                    <a class="@button.GetCssClass()" href="@button.GetLinkUrl()">@button.LinkText</a>
                }
            </nav>
        }
    </footer>
</div>

@Html.DisplayFor(m => m.Blocks)