@model Fase.Web.Models.EventPage
@inject Piranha.IApi Api
@{
    ViewBag.Title = Model.Title;
}

@Html.DisplayFor(m => m.Hero)

<div class="article">
    @if (Model.Details.FlyerImage.HasValue)
    {
        <div class="article__image">
            <img src="@Url.Content(Model.Details.FlyerImage.Resize(Api, 1024))" alt="">
        </div>
    }

    <partial name="~/Views/Shared/Partial/_Breadcrumbs.cshtml" />

    <header class="article__header">
        @if (!string.IsNullOrEmpty(Model.Details.EventType?.Value))
        {
            <p class="events__item__intro">@Model.Details.EventType</p>
        }
        <h1 class="page__heading article__heading"><i class="icon--calendar"></i> @Model.Title</h1>
        <span class="events__item__date"><i class="icon--clock"></i> @Model.Details.StartDate.Value.Value.ToString("dddd, dd MMMM yyyy") kl. @Model.Details.StartTime</span>
        @if (!string.IsNullOrEmpty(Model.Details?.Information))
        {
            <div class="text-block__content text-block__body">
                @Html.Raw(Model.Details.Information)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.Details.BookingLinkUrl?.Value))
        {
            <nav class="button-group">
                <a class="button button--primary" href="@Model.Details.BookingLinkUrl.Value" target="_blank">Boka nu</a>
            </nav>
        }
    </header>

    @Html.DisplayFor(m => m.Blocks)

    <footer class="article__footer animate" data-animate>
        @if (!string.IsNullOrEmpty(Model.Details?.Information))
        {
            <div class="text-block__content text-block__body">
                @Html.Raw(Model.Details.Information)
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.Details.BookingLinkUrl?.Value))
        {
            <nav class="button-group">
                <a class="button button--primary" href="@Model.Details.BookingLinkUrl.Value" target="_blank">Boka nu</a>
            </nav>
        }
    </footer>
</div>