<%- include('layouts/layout', {render: 'top', selectedMenuItem: 'events', pageTitle: 'Dryckeskultur 2018 - FASE: A new kind of event'}) %>

<div class="article">
    <div class="article__image">
        <img src="/static/dryckeskultur-flyer-1280.jpg" alt="Dryckeskultur 2018 Flyer">
    </div>
    <header class="article__header">
        <p class="events__item__intro">Specialkryssning</p>
        <h1 class="page__heading article__heading"><i class="icon--calendar"></i> Dryckeskultur 2018</h1>
        <span class="events__item__date"><i class="icon--clock"></i> 23 september 2018 kl. 19:30</span>
        <div class="text-block__content">
            <p>
                <strong>OBS!</strong> Vill ni ha tillgång till all underhållning (Albin Myers, John Dahlbäck, De Sotos m.fl.) så måste ni
                boka med bokningskoden <strong>25 H PEOPLE</strong>
            </p>
        </div>
        <nav class="button-group">
            <%- include('../components/links/dryckeskultur', { cssClass: 'button--primary'}) %>
        </nav>
    </header>

    <article class="text-block">
        <div class="text-block__content">
            <p>
                <strong>Äntligen kommer en mer renodlad dryckesmässa främst riktad till krögare, branschfolk och andra dryckesintresserade.</strong>
            </p>
            <p>
                Själva dryckesmässan kommer presentera flera kända leverantörer med deras brands och även många trevliga upcoming brands (viktigt för oss att kunna ge plats åt mindre aktörer som vill nå krogar runt om i landet) och även flera andra bekanta ansikten.
            </p>
            <p>
                Konferansen erbjuder masterclasses inom öl, gin, rom och whisky. Bitterskolning, premium-barskolning och föreläsningar. Begränsat antal platser.
            </p>
        </div>
    </article>

    <article class="text-block text-block--grey">
        <h2 class="text-block__heading">Inspiration</h2>
        <div class="text-block__content">
            <p>
                Flera Premium-skolningar inom barkulturen kommer att hållas på kvällen och även på hemresan. Passar även de främsta som här kan
                få inspiration för kommande säsong. Våra duktiga skolare kommer från bland annat Zigges Garage Halmstad. Skånska Spritfabriken
                gör en egen workshop med en presentation och provning av deras vinnargin 2017.
            </p>
            <p>
                <a href="/skolningar-workshops-masterclasses.html">Läs mer om våra skolningar och workshops <i class="icon--right-big"></i></a>

                <img src="/static/workshop.jpg" alt="Workshop">
            </p>
        </div>
    </article>

    <article class="text-block">
        <h2 class="text-block__heading">Kunskap</h2>
        <div class="text-block__content">
            <p>
                En djupdykning i dryckeskulturen med flera kända brands som kommer att hålla i olika
                masterclasses. Ålands stolthet Stallhagen med deras förste bryggare Jonas Backlund presenterar en bred masterclass inom öl.
                Joakim Lobelius, sommelier med gedigen erfarenhet och kunskap från branschen kommer att hålla i Solera Cava/Prosecco provning.
            </p>
            <p>
                Rom, Rum, Rhum - Lär dig vad som är vad. Tillsammans med Thomas Sundblom, VD på Clydesdale, provar vi ett antal sorter och lär oss om historien, ursprungen, tillverkningen, lagringen och givetvis smaken.
            </p>
            <p>
                <a href="/skolningar-workshops-masterclasses.html">Läs mer om våra masterclasses <i class="icon--right-big"></i></a>

                <img src="/static/masterclasses.jpg" alt="Master classes">
            </p>
        </div>
    </article>

    <article class="text-block text-block--grey">
        <h2 class="text-block__heading">Umgänge</h2>
        <div class="text-block__content">
            <p>
                Efter mässan och alla skolningar finns det äntligen lite tid att hänga med sina vänner och kollegor.
                Ät en god middag och promenera sedan till Östersjöns största nattklubb.
            </p>
        </div>
    </article>

    <article class="text-block">
        <h2 class="text-block__heading">Nöje</h2>

        <div class="text-block__content">
            <p>
                Underhållningen är en viktig del av vårat koncept och därför har vi valt att satsa stort på underhållning som sällan skådats på Östersjön.
                Denna afton ger vi plats åt inga mindre än livebandet <strong>De Sotos</strong>, trubadurduon <strong>Johnny &amp; Matte</strong> och 4 st DJ´s.
                Med stora namn namn från <strong>Summerburst</strong> och <strong>Tomorrowland</strong>, <strong>Albin Myers</strong> och
                <strong>John Dahlbäck</strong> som kommer att köra ett unikt ”back to back” i stora nattklubben. <strong>Chris</strong> är med som Fair and square events alltid återkommande ”House-DJ/Hus-DJ", som kommer att hålla igång både före och efter hans kollegor har slutat lira.
            </p>
            <p>
                <a href="/artister.html">Läs mer om artisterna <i class="icon--right-big"></i></a>
            </p>

            <ul class="profile--medium profile__list">
                <li class="profile__item">
                    <img class="profile__image" src="/static/albin-myers-new.jpg">
                    <h3 class="profile__name">Albin Myers</h3>
                </li>
                <li class="profile__item">
                    <img class="profile__image" src="/static/john-dahlback-new.jpg">
                    <h3 class="profile__name">John Dahlbäck</h3>
                </li>
                <li class="profile__item">
                    <img class="profile__image" src="/static/desotos-grupp-02.jpg">
                    <h3 class="profile__name">De Sotos</h3>
                </li>
                <li class="profile__item">
                    <img class="profile__image" src="/static/dj-chris.jpg">
                    <h3 class="profile__name">Chris</h3>
                </li>
                <li class="profile__item">
                    <img class="profile__image" src="/static/johnny-matte.jpg">
                    <h3 class="profile__name">Johnny &amp; Matte</h3>
                </li>
            </ul>
        </div>
    </article>

    <article class="text-block text-block--grey">
        <h2 class="text-block__heading">Bartender Battle</h2>
        <div class="text-block__content">
            <p>
                En bartendertävling med precision och tidsram. Bl.a. 3 st klassiska cocktails ska göras och kanske nån Hotshot. Anmälan finnes längst ner på sidan. 16 platser finns och det är först till kvarn. OBS! Endast en deltagare per bar/krog. <strong>Vinnaren får en svit på nästa års Dryckeskultur samt en vandringspokal</strong>. Good luck!
            </p>
            <p>
                <a href="/bartender-battle.html">Läs mer och anmäl dig <i class="icon--right-big"></i></a>
                <img class="image image--small" src="/static/bartender-battle.png" alt="Bartender Battle">
            </p>
        </div>
    </article>

    <div class="container container--narrow">
        <div class="row" style="justify-content: center">
            <div class="block block--half">
                <article class="text-block">
                    <h2 class="text-block__heading2">Anmälan Bartender Battle</h2>
                    <form action="/email/send/" method="post" class="form" data-form>
                        <div class="form__row">
                            <input class="form__input" type="text" name="Name" placeholder="Namn">
                        </div>

                        <div class="form__row">
                            <input class="form__input" type="text" name="Company" placeholder="Bar/krog">
                        </div>

                        <div class="form__row">
                            <input class="form__input" type="email" name="Email" placeholder="E-post">
                        </div>

                        <div class="form__row">
                            <input class="form__input" type="text" name="Phone" placeholder="Telefon">
                        </div>

                        <div class="form__row">
                            <button class="button button--primary" type="submit">Skicka anmälan</button>
                        </div>

                        <input type="hidden" name="ReturnUrl" value="/tack-for-din-anmalan.html">
                        <input type="hidden" name="Heading" value="Anmälan till Bartender Battle">
                        <input type="hidden" name="Subject" value="Anmälan till Bartender Battle">
                    </form>
                </article>
            </div>
        </div>
    </div>

    <span id="program" class="anchor" aria-hidden="true"></span>
    <%- include('../components/program/program') %>

    <%- include('../components/partners-block/partners-block', { showHeading: true }) %>

    <footer class="article__footer">
        <div class="text-block__content">
            <p>
                <strong>OBS!</strong> Vill ni ha tillgång till all underhållning (Albin Myers, John Dahlbäck, De Sotos m.fl.) så måste ni
                boka med bokningskoden <strong>25 H PEOPLE</strong>
            </p>
        </div>
        <nav class="button-group">
            <%- include('../components/links/dryckeskultur', { cssClass: 'button--primary'}) %>
        </nav>
    </footer>
</div>
<%- include('layouts/layout', {render: 'bottom', selectedMenuItem: 'events'}) %>